.addBtnRemove,.addBtn{cursor: pointer;}
.bg-grey{background-color: #eaeaea;}
	input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;-moz-appearance: none;appearance: none;
    	margin: 0; 
}.title{
	font-size:18px;
}.white{
	color: white;
}

/*neraca*/
.bb{
	border-bottom:1px solid #d2eff4;font-size: 16px;
}
.ta_right{
	text-align: right;
}
.neraca .min-height{
	min-height: 500px;
}
.neraca .heading_activa{
	height:150px;background-image: linear-gradient(to right, #19a5e0, #13aee4, #14b7e7, #1ebfe9, #2bc8eb)
	;color:white
}
.neraca .heading_pasiva{
	height:150px;background-image: linear-gradient(to right, #0254b4, #0062be, #006fc8, #007dd1, #058ad9);
	color:white
}
.neraca .fontawesome{
	font-size:50px;margin-top: 40px;
}
.neraca .title_neraca{
	text-align:right;font-weight: bold;font-size:16px;margin-top: 40px;margin-bottom: -20px;
}
.neraca .subtitle_neraca{
	text-align:right;font-weight: bold;font-size:22px;
}

/*loading*/
/*spinner loading*/
.spinner{
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  z-index: 10000;
  position: fixed;
  left: 50%;
  top: 30%;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #0e4794;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1{
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2{
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay{
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay{
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/*close spinner loading*/

/*header grand total*/
.grand .g-div{
  height:80px;background-color:#f3fafd;margin-bottom: 20px
}
.grand .g-row{
  padding:10px
}
.grand .g-top-title{
  color:#303b3e;font-weight: bold;font-size: 16px
}
.grand .g-bottom-title{
  color:#374245;
}
.grand .g-total{
  font-weight: bold;color:#303b3e;font-size: 22px;margin-top: 10px
}

/*laporan stok*/
.ls .mh{
  min-height: 500px;
}
.ls .div_scroll{
  max-height: 200px !important;display: block;overflow-y: scroll;
}
.ls .tr_color{
  color:#105cb8;
}
.ls .no{
  width:10%;
}
.ls .nama_barang{
  width:25%;
}
.ls .jumlah .harga .total_harga{
  width:20%;
}

/*pembayaran hutang*/
.div_scroll{
  max-height: 200px !important;display: block;overflow-y: scroll;
}