@media screen and (max-width: 1013px) {
	.forget{
		background-size: auto;
	}
}
@media screen and (max-width: 489px) {
	.forget-box{
		width: 94%
	}
}
@media screen and (max-width: 920px) {
	.carousel-caption p{
		display: none;
	}
	.btn-registrasi{
		margin-top: 2%;
	}
}
@media screen and (max-width: 720px) {
	.btn-registrasi{
		margin-top: -30px;
	}
	.foot-left{
		text-align: center;
		margin-bottom: 20px
	}
	.foot-right{
		text-align: center;
		margin-top: 20px
	}
	#myCarousel.carousel .carousel-indicators{
		display: none;
	}
}
@media screen and (max-width: 530px) {
	.btn-registrasi{
		display: none;
	}
	.carousel-caption h1{
		font-size: 40px;
		margin-left: -20px;
		margin-top: 50px
	}
}
@media screen and (max-width: 820px) {
	.box{
		margin-bottom: 20px;
	}
	.wd-5{
		width: 100%
	}
	.navbar-home {
	    padding: 0px 4%;
	}
}
@media screen and (max-width: 766px) {
	#btn-masuk #btn{
		display: none;
	}
	.navbar-nav li a{
		margin-left: -20px
	}
	.btn-masuk-toogle{
		display: block;
	}
	#btn-masuk .btn-masuk-2{
		display: block;
	}
}
@media screen and (max-width: 600px) {
	.area-2{
		    padding: 9% 11% 4% 11%;
	}
}
@media screen and (max-width: 633px) {
	.area {
	    padding: 2% 5% 14% 5%;
	}
	.tentang{
		margin-bottom: 70px;
		margin-top: 0
	}
	.area-kata{
		padding: 0 3%
	}
	.area-two{
		padding: 0
	}
	.img-fet{
		height: 60px
	}
	.mb-2{
		margin-bottom: 25px
	}
	.pb-80{
		padding-bottom: 30px
	}
	.feature{
		padding-top: 1%
	}
	.pb-8{
		padding-top: 1%
	}
	.area-four{
		padding: 0 5%
	}
	#modal-custom{
		width: 88%
	}
	.area-head{
		padding: 100px 2% 20px 2%;
	}
}