@font-face {
     font-family: OpenSans-Regular;
     src: url(../font/OpenSans-Regular.ttf);
}
@font-face {
     font-family: OpenSans-Bold;
     src: url(../font/OpenSans-Bold.ttf);
}
@font-face {
     font-family: OpenSans-ExtraBold;
     src: url(../font/OpenSans-ExtraBold.ttf);
}
@font-face {
     font-family: OpenSans-Semibold;
     src: url(../font/OpenSans-Semibold.ttf);
}
.owl-dots{
	position: absolute;
    bottom: 20%;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
body{
	font-family: OpenSans-Regular;
}
#myCarousel.carousel {
  padding-bottom: 60px;
}
#myCarousel.carousel .carousel-indicators {
  bottom: 25%;
}
#myCarousel blockquote {
    text-align: center;
    border: none;
}
#myCarousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
input[type="text"]:focus {
    outline-style: none;
}
input[type="file"]:focus {
    outline-style: none;
}
input[type="email"]:focus {
    outline-style: none;
}
input[type="password"]:focus {
    outline-style: none;
}
textarea:focus {
    outline-style: none;
}
::-webkit-scrollbar {
   	width: 8px;
   	height: 8px
}
	 
::-webkit-scrollbar-track {;     
	background: transparent;
	border-radius: 10px;    
}
	 
::-webkit-scrollbar-thumb {
	background: #A3A3A3;
	border-radius: 10px;
}
.navbar-home{
	padding: 0 13%;
	background: transparent;
}
.btn-masuk-toogle{
    position: relative;
    float: right;
    color: #fff;
    list-style: none;
    padding:6px 35px 6px 25px;
    margin-top: 22px;
    margin-right: 10px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
   	background-image: url('../img/btn-masuk.png');
   	background-repeat: no-repeat;
   	display: none;
}
.x-mod{
	padding: 10px;margin-bottom: 10px
}
.navbar-nav li a{
	color: #fff;
	margin-top: 10px;
	margin-left: 20px;
	font-size: 13px;
	font-family: OpenSans-Regular;
	transform: scale(0.9, 1.1);
	font-weight: 900;
	color: #FDFDFE
}
.navbar-brand{
	padding: 20px 0;
}
#btn-masuk #btn {
    padding: 3px 30px;
    margin-top: 22px;
    background-repeat: no-repeat;
    background-color: #ffbc2e;
    border-radius: 10px;
    color: #fff;
}
#btn-masuk .btn-masuk-2{
	background-image: url('../img/btn-masuk.png');
	background-repeat: no-repeat;
	color: #2F7AAD;
	padding:5px 20px ;
	margin-left: -5px;
	display: none;
	margin-bottom: 20px
}
.carousel-indicators{
	margin-top: -100px
}
.carousel-caption{
	width: 80%;margin-top: -28px
}
.carousel-caption h1{
	font-size: 65px;
	font-weight: bold;
	font-family: OpenSans-Bold;
}
.carousel-caption p{
	color: #fff;
	line-height: 2;
	margin-top: -9px;
}
.pad-l{
	padding-left: 19px;
	margin-bottom: 20px;
	margin-top: 10px
}
.pb-bb{
	border-bottom: 2px solid #ddd;
	padding-bottom: 5%
}
.btn-registrasi{
	background-color: #FFB73D;
	color: #fff;
	margin-top:20px;
	padding: 12px 22px;
	font-family: OpenSans-Semibold;
	font-size: 17px;
}
.btn-registrasi:hover{
	color: #fff
}
.judul{
	color: #000;
	font-family: OpenSans-Bold;
	transform: scale(1, 1.1);
	line-height: 35px;
}
.area-fitur{
	padding: 0 14%;
}
.area-two{
	padding: 0 11%;
}
.area-four{
	padding: 0 19%;
}
.pd-o{
	padding: 0
}
.area{
	padding: 2% 1% 0 14%;
}
.kata{
	line-height: 1.5;
	color: #434A54
}
.kata-kata{
	font-size: 13px
}
.area-kata{
	padding: 0 20%
}
.tentang{
	background-image: url('../img/img-on-home.png');
	padding: 0 0 40px 0;
	background-repeat:no-repeat;
	margin-top: 7%;
	margin-bottom: 100px
}
.mt--40{
	margin-top: -40px
}
.pd-x{
	padding: 0 0 0 4%
}
.mt-2{
	margin-top: -20px
}
.nama{
	margin-left: 100px
}
.box{
	padding: 22px;
	-webkit-box-shadow: -1px 1px 24px 1px #ddd;
	-moz-box-shadow: -1px 1px 24px 1px #ddd;
	box-shadow: -1px 1px 24px 1px #ddd;
	background-color: #fff
}
.box-2{
	padding: 25px;
	-webkit-box-shadow: -1px 1px 24px 1px #ddd;
	-moz-box-shadow: -1px 1px 24px 1px #ddd;
	box-shadow: -1px 1px 24px 1px #ddd;
	margin-bottom: 10px;
	color: #000;
	background-color: #fff
}
.img-fet{
	float: left;
	height: 150px;
	margin-right: 20px;
	margin-top: 3px
}

.box img{
	margin-top: -3px
}
.judul-feature{
	font-weight: bold;
	font-size: 18px;
}
.box .kata-2{
	margin-top: 13px;
	line-height: 1.5;
	color: #434A54;
	font-size: 12px
}
.btn-coba{
	background-color: #3276DA;
	color: #fff;
	padding: 12px 29px;
	margin-bottom: 20px;
	font-family: OpenSans-Regular;
	font-size: 17px
}
.btn-coba-2:hover{
	color: #434A54;
}
.btn-coba:hover{
	color: #fff
}
.btn-coba-2{
	background-color: #EEAD3A;
	color: #434A54;
	padding: 12px 29px;
	margin-bottom: 20px;
	font-family: OpenSans-Regular;
	border: 1px solid #D18E1C;
	font-size: 17px
}
.kata-2{
	font-size: 16px;
	color: #474E58
}
.foot-home{
	background-image: url('../img/img-footer.png');
	background-size:cover;
	background-repeat:no-repeat
}
.footer{
	padding: 9px 9px 0px 9px;
	font-size: 12px
}
.area-tree{
	padding: 0% 2% 5% 11%;
	color: #fff
}
.foot-right{
	text-align: right;
}
.lh{
	line-height: 1.3;
	font-size: 32px;
	margin-top: 5px
}
.kata-two{
	margin: 25px 0;
	color: #C8E0F2
}
.area-foot{
	padding: 25px 11%;
	background-color: #fff
}
.footer img{
	margin-left: 10px
}
.menu-foot a{
	margin-left: 4%;
	color: #3A9BCC;
	line-height: 25px;
}
.menu-foot a:hover{
	text-decoration: none;
}
.dropdown-menu{
	width: 300px;
	border-radius: 4px;
	margin-top: 20px;
	padding: 20px 15px 15px 15px;
	color: #000
}
.pd-10{
	padding: 10px
}
.pd-1{
	padding: 5px 0
}
.form-kontrol{
	padding: 8px 8px 8px 35px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #ddd
}
.form-kontroll{
	padding: 8px;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #ddd
}
.form-kontrolll{
	padding: 5px 8px;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #ddd
}
.mto-2{
	margin-top: 20px
}
.i-1{
	width: 98%
}
.garis-drop{
	margin-top: -45px;
	margin-right: 17px
}
.regis{
	margin-top: 20px
}
.regis .reg{
	color: blue;
	margin-left: 5px;
	font-size: 14px
}
.tuku{
	margin-right: 10px
}
.mt-40{
	margin-top: 90px;
	margin-bottom: 70px
}
.area-head{
	padding: 100px 12% 20px 12%;
	color: #fff
}
.area-head h1{
	margin-top: 5px;
	font-family: OpenSans-Bold;
	line-height: 39px;
}
.pb-80{
	padding-bottom: 80px
}
.fitur{
	background: url('../img/img-on-feature-biaya.png');
	background-repeat: no-repeat;
	background-size:cover;
	padding-bottom: 90px;
	margin-bottom: 40px;
}
.feature{
	border-bottom: 2px solid #ddd;
	padding-bottom: 50px;
	padding-top: 8%
}
.pb-8{
	padding-top:8%;
}
.biaya{
	background: url('../img/img-on-feature-biaya.png');
	background-repeat: no-repeat;
	padding: 4% 0 0 0;
	background-size:cover;
}
.box-2 h4{
	font-weight: bold;
	margin-bottom: 40px
}
.box-2 h2{
	font-family: OpenSans-Bold;
	font-size: 40px
}
.wrap-paralax {
    height: 375px;
}
.paralax { 
    background-image: url("../img/img-on-about.png");
    height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
}
.bb{
	border-bottom: 2px solid #ddd;
	padding-bottom: 20px
}
.bot-tentang{
	border-bottom: 2px solid #ddd;
	padding: 50px 0
}
.bot-tentang h4{
	color: #434A54;
	font-family: OpenSans-Bold;
	font-size: 19px;
	line-height: 38px;
}
#modal-custom{
	width: 600px
}
.contact h4{
	font-size: 20px
}
.btn-biru{
	background-color: #007EBD;
	color: #fff;
	padding: 5px 15px
}
.syarat ol li{
	margin-bottom:10px
}
.cl-b{
	color: #000
}
.btn-biasa{
	background-color: #F1F1F1;
	color: #000;
	padding: 1px 15px;
	border-bottom: 1px solid #C9C9C9
}
.sz-11{
	font-size: 13px
}
.up{
	text-transform: uppercase;
}
.panel-pd{
	padding: 10px 0 30px 20px
}
.btn-biru:hover{
	color: #fff
}
.over{
	overflow: hidden;
}
.panel-title a:hover{
	text-decoration: none;
}
.mb-1{
	margin-bottom: 10px
}
.mb--1{
	margin-bottom: -1px;
	color: #000
}
.panel-title{
	   line-height: 23px;
}
.area-2{
	padding: 9% 25% 4% 25%;
	border-bottom: 2px solid #ddd
}
.control-label{
	font-family: OpenSans-ExtraBold;
}
#pac-input{
	margin-top: 10px;
	z-index: 1;
	position: relative;
	margin-left: 2%;
    width: 96%;
    padding: 8px 8px;
}
.mt-4{
	margin-top: -45px
}
.peta #map{
	background-color: #DFDFDF;
	height: 250px;
	width: 100%;
}
.wd-5{
	width: 50%
}
.agree{
	background-color: #F0F8FF;
	margin-top: 10px;
	padding: 10px 15px;
}
.agree .cek{
	float: left;
	margin-right: 25px;
	height: 50px;
	top: 0;
	margin-top: -2px
}
.mto-1{
	margin-top: 10px
}
.mto-3{
	margin-top: 22px
}
.btn-hijau {
    background-color: #26A65A;
    color: #fff;
    padding: 5px 45px;
}
.btn-hijau:hover{
	color: #fff
}
.modal-body h4{
	color: #007EBD;
	font-family: OpenSans-Bold;
	font-size: 20px	
}
.modal-body .tanya{
	font-size: 16px;
	color: #4B525B
}
.forget-box {
	width: 350px;
	margin: 7% auto;
}
.forget{
	background-image: url('../img/img-forget.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.forget-box-body{
	background-color: #fff;
	padding: 25px
}
.kata-3{
	font-size: 12px;
	color: #747474;
	margin-bottom: 20px
}
.mt-3{
	margin-top: 10px
}
.glyphicon-use{
	color: #999999
}

.wrap-page .wrap-content{
	line-height: 2;
}

.wrap-page .wrap-content ol li,
.wrap-page .wrap-content ul li{
	margin-bottom: 10px;
}

.agree .item {
    display: inline-flex;
    margin-top: 15px;
}

.agree .item p {
    margin: 0;
    padding: 0;
}

.agree .item input.cek {
    margin: 0px;
    float: none;
    display: flex;
    height: auto;
    margin: 5px 10px 0 0;
}